/* font import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,800&display=swap');

/*reset default  values */
body,
html {
    margin: 0;
    padding: 0;
}


html {
    font-size: 16px;
}

body {
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    outline: none;
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;

    @media(max-width:1200px) {
        font-size: 36px !important;
    }

    @media(max-width:991px) {
        font-size: 32px !important;
    }
}

h3 {
    font-size: 1.75rem;
}

p {
    font-size: 1rem;
}

img {
    max-width: 100%;
}

/*global vairables */

$darkPurple: #32135A;
$darkBlue: #201F7B;
$primaryBlue: #004AAD;
$babyBlue: #00ADEF;
$white: #ffffff;

/*global calsses */

.container {
    position: relative;
    padding: 0 68px;
    width: 100%;

    @media(max-width:1200px) {
        padding: 0 15px;
    }
}

.d_flex {
    display: flex;

}

.align_center {
    align-items: center;
}

.justify_center {
    justify-content: center;
}

.justify_between {
    justify-content: space-between;
}

.flex_wrap {
    flex-wrap: wrap;
}

.heading {
    position: relative;
    font-size: 3rem;
    font-weight: 600;
    font-style: italic;
    padding: 0 1.5rem;

    @media(max-width:1200px) {
        padding-inline-start: 44px;
    }

    @media(max-width:991px) {
        padding-inline-start: 20px;
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: -22px;
        width: 18px;
        height: 100%;
        background-color: $babyBlue;

        @media(max-width:1200px) {
            left: 0;
            width: 10px;
        }

    }
}

/*hero*/
.hero {
    .nav {
        background-color: $darkPurple;
        border-bottom: 2px solid $babyBlue;
        position: fixed;
        top: 0;
        z-index: 9999;
        width: 100%;

        .navbar_collapse {
            flex-basis: auto;
            flex-grow: 1;
            max-height: 1000px;
            overflow: hidden;
            transition: max-height 0.3s ease;

            ul {
                margin-inline-start: auto;
                height: 76px;

                .nav_item {
                    .nav_link {
                        padding: .5rem 0;
                        margin-inline-end: 20px;
                        color: $white ;
                        font-size: 20px;
                        transition: .1s all ease-in-out;

                        &:hover,
                        &.active {
                            font-weight: bold;
                            text-decoration: underline;
                        }

                        @media(max-width:1200px) {
                            font-size: 16px;
                            margin-inline-end: 16px;
                        }
                    }
                }
            }

            .register {
                font-size: 24px;
                background-color: $primaryBlue;
                border-radius: 1.25rem;
                padding: 6px 16px;
                color: #fff;

                @media(max-width:1200px) {
                    font-size: 18px;

                }
            }
        }

        .burger_menu {
            display: none;
            flex-direction: column;
            cursor: pointer;
            height: 70px;
            justify-content: center;

            .bar {
                height: 2px;
                width: 30px;
                background-color: #ffffff;
                margin: 4px 0;
            }
        }

        @media (max-width: 991px) {
            .container {
                flex-wrap: wrap;
            }

            .navbar_collapse {
                display: none;
                flex: 100%;
                flex-direction: column;
                align-items: flex-start;
                padding: 15px;

                ul {
                    flex-direction: column;
                    height: auto;
                    margin-right: auto;
                    margin-left: 0;
                    align-items: flex-start;

                    .nav_item {
                        .nav_link {
                            display: block;
                        }
                    }
                }

                .register {
                    margin-top: 8px;
                    border-radius: 8px;
                }
            }

            .burger_menu {
                display: flex;
            }

            .navbar_collapse.show {
                display: flex;
            }
        }
    }
}

.header {
    background-image: url(../imgs/hero_bg.png);
    min-height: 897px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    @media(max-width:1200px) {
        min-height: 550px;
    }

    .content_wrapper {
        min-height: 897px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;

        @media(max-width:1200px) {
            min-height: 550px;
        }

        h1 {
            font-size: 80px;
            max-width: 1045px;
            background: linear-gradient(to left, #00E0FF 42%, #00E0FF 100%);
            -webkit-background-clip: text;
            background-clip: text;
            color: transparent;
            margin-bottom: 61px;

            @media(max-width:1200px) {
                font-size: 40px;
                margin-bottom: 36px;
            }

            @media(max-width:767px) {
                font-size: 36px;
                margin-bottom: 24px;
            }

            @media(max-width:575px) {
                font-size: 32px;
            }
        }

        p {
            max-width: 565px;
            font-size: 24px;
            color: $white;
            line-height: 30px;
            margin-bottom: 36px;

            @media(max-width:1200px) {
                font-size: 20px;
                margin-bottom: 24px;
            }

            @media(max-width:767px) {
                font-size: 16px;
                margin-bottom: 16px;
                line-height: 26px;
            }

            @media(max-width:575px) {
                font-size: 14px;
                line-height: 24px;
            }
        }

        a {
            width: 243px;
            height: 67px;
            background-color: $primaryBlue;
            color: $white;
            text-decoration: none;
            font-weight: 600;
            font-size: 2rem;
            border-radius: 20px;

            @media(max-width:1200px) {
                font-size: 20px;
                width: auto;
                padding: 16px;
            }

            @media(max-width:767px) {
                font-size: 16px;
                height: 45px;
            }

        }
    }
}


/*about_us*/

.about_us {
    padding-top: 150px;
    background-image: url(../imgs/about_bg.png);
    background-repeat: no-repeat;
    padding-bottom: 200px;

    @media(max-width:991px) {
        background-image: none;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .upper_content {
        gap: 80px;
        margin-bottom: 150px;

        @media(max-width:991px) {
            margin-bottom: 64px;
            flex-wrap: wrap;
            gap: 35px;
        }

        .left_part {
            position: relative;
            padding: 1rem 0;
            padding-inline-start: 44px;

            @media(max-width:1200px) {
                padding-inline-start: 20px;

            }

            &::after {
                content: '';
                position: absolute;
                left: -22px;
                top: 0;
                width: 18px;
                height: 100%;
                background-color: $babyBlue;

                @media(max-width:1200px) {
                    left: 0;
                    width: 10px;
                }
            }

            h2 {
                font-size: 3rem;
                font-style: italic;
                margin-bottom: 1.25rem;
                font-weight: 600;
            }

            p {
                max-width: 545px;
                font-size: 24px;
                line-height: 34px;

                @media(max-width:991px) {
                    font-size: 1rem;
                    line-height: 26px;
                }

                @media(max-width:767px) {
                    font-size: 14px;
                }
            }
        }

    }

    .lower_content {
        align-items: flex-end;
        gap: 35px;

        @media(max-width:991px) {
            flex-wrap: wrap;
        }

        .left_part {
            h2 {
                margin-bottom: 55px;

                @media(max-width:991px) {
                    margin-bottom: 20px;
                }
            }
        }

        .right_part {
            p {
                max-width: 735px;
                font-size: 1.5rem;

                @media(max-width:991px) {
                    font-size: 1rem;
                    line-height: 26px;
                }

                @media(max-width:767px) {
                    font-size: 14px;
                }
            }
        }
    }
}


/*speaker*/

.speaker {

    background-image: url(../imgs/speaker.png);
    background-position: center;
    background-size: cover;

    .container {
        min-height: 765px;
        display: flex;
        align-items: center;

        @media(max-width:991px) {
            min-height: 550px;
        }

        @media(max-width:575px) {
            min-height: 350px;
        }

        .content {
            display: flex;
            align-items: flex-start;
            gap: 100px;
            width: 100%;

            @media(max-width:991px) {
                flex-wrap: wrap;
                gap: 26px;
                justify-content: center;
            }

            .heading {
                color: $white;
            }

            .wrapper {
                max-width: 100%;
                flex-shrink: 0;
                justify-content: flex-start;
                width: 623px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    margin-bottom: 22px;

                    @media(max-width:991px) {
                        width: 200px;
                        margin-bottom: 16px;
                    }

                    @media(max-width:575px) {
                        width: 150px;
                    }
                }

                h4 {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 600;
                    margin-bottom: 1rem;

                    @media(max-width:991px) {
                        font-size: 24px;
                    }

                    @media(max-width:575px) {
                        font-size: 20px;
                    }
                }

                p {
                    font-size: 2rem;
                    font-weight: 400;
                    color: $white;

                    @media(max-width:991px) {
                        font-size: 24px;
                    }

                    @media(max-width:575px) {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/*sponsor*/

.sponsor {
    height: 825px;
    background-image: url(../imgs/sponsor_bg.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;

    @media(max-width:991px) {
        background-image: none;
        height: auto;
    }

    .content {
        padding-top: 164px;

        @media(max-width:991px) {
            padding: 50px 0;
        }

        .heading {
            margin-bottom: 80px;

            @media(max-width:991px) {
                margin-bottom: 36px;
            }
        }

        .wrapper {
            text-align: center;

            @media(max-width:991px) {
                img {
                    max-width: 300px;
                }
            }
        }
    }

}

.timeline {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(../imgs/agenda.png);
    min-height: 1607px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media(max-width:991px) {
        height: auto;
        min-height: unset;
    }

    h2 {
        color: $white;
        font-weight: 600;
        font-style: italic;
        margin-top: 100px;

        @media(max-width:991px) {
            margin-top: 50px;
        }

        @media(max-width:575px) {
            margin-top: 0;
            margin-bottom: 32px;
        }
    }

    .timeline-content {
        position: relative;
        overflow: hidden;

        &:before {
            content: "";
            width: 6px;
            height: 99%;
            background-color: #93C9FC;
            position: absolute;
            left: 50%;
            margin-left: -1px;
            top: 0;

            @media(max-width:575px) {
                width: 3px;
            }
        }

        .left {
            width: calc(50% - 25px);
            margin-bottom: 40px;
            position: relative;
            float: left;

            @media(max-width:991px) {
                margin-bottom: 24px;
            }

            &:before {
                right: -52px;
                content: "";
                width: 55px;
                height: 55px;
                background-color: #93C9FC;
                position: absolute;
                border-radius: 50%;
                top: 0;

                @media(max-width:991px) {
                    right: -45px;
                    width: 35px;
                    height: 35px;
                }

                @media(max-width:575px) {
                    right: -33px;
                    width: 15px;
                    height: 15px;
                }
            }

            .content {
                border-radius: 5px;
                direction: rtl;
                text-align: start;
            }
        }

        .right {
            width: calc(50% - 25px);
            margin-bottom: 40px;
            position: relative;
            float: right;
            display: flex;
            justify-content: flex-end;

            @media(max-width:991px) {
                margin-bottom: 24px;
            }

            &:before {
                left: -52px;
                content: "";
                width: 55px;
                height: 55px;
                background-color: #93C9FC;
                position: absolute;
                border-radius: 50%;
                top: 0;

                @media(max-width:991px) {
                    left: -40px;
                    width: 35px;
                    height: 35px;
                }

                @media(max-width:575px) {
                    left: -32px;
                    width: 15px;
                    height: 15px;
                }
            }

            .content {
                border-radius: 5px;
            }
        }

        .content {
            width: 98%;

            h3 {
                font-weight: 400;
                color: $babyBlue;
                margin: 0 0 12px;
                font-size: 36px;

                @media(max-width:991px) {
                    font-size: 24px;
                    margin-bottom: 4px;
                }

                @media(max-width:767px) {
                    font-size: 16px;
                }

                @media(max-width:575px) {
                    font-size: 12px;
                }

            }

            p {
                margin: 0;
                max-width: 555px;
                font-size: 36px;
                font-weight: 600;
                color: $white;

                @media(max-width:991px) {
                    font-size: 24px;
                }

                @media(max-width:767px) {
                    font-size: 20px;
                }

                @media(max-width:575px) {
                    font-size: 13px;
                }
            }
        }
    }
}

.clearfix {
    clear: both;
}


.faq {
    padding: 61px 0 24px;

    .heading {
        margin-bottom: 100px;
    }

    .accordion {
        max-width: 970px;
        margin: auto;

        .accordion-item {
            border: 1px solid #00A2E0;
            margin-bottom: 12px;
            overflow: hidden;
            border-radius: 20px;
            padding: 24px;

            @media(max-width:991px) {
                padding: 12px;

            }

            .accordion-header {
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @media(max-width:991px) {
                    gap: 12px;

                }

                span {
                    font-size: 24px;
                    font-weight: 500;

                    @media(max-width:991px) {
                        font-size: 20px;

                    }

                    @media(max-width:767px) {
                        font-size: 16px;

                    }

                    @media(max-width:575px) {
                        font-size: 13px;

                    }
                }

                img {
                    @media(max-width:991px) {
                        width: 25px;

                    }

                    @media(max-width:767px) {
                        width: 20px;

                    }
                }
            }

            .accordion-icon {
                transition: transform 0.3s ease;
            }

            .accordion-content {
                font-size: 20px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.3s ease;

                hr {
                    margin: 1.5rem 0;
                    background-color: $primaryBlue;
                }
            }
        }
    }
}

footer {
    background-image: url(../imgs/footer_bg.png);
    background-size: cover;
    background-position: center;

    .footer_logo {
        padding-top: 100px;

        @media(max-width:991px) {
            margin-bottom: 32px;
        }
    }

    .head {
        font-size: 2.25rem;
        color: $babyBlue;
        font-weight: 800;
        font-style: italic;
        margin-bottom: 60px;
        max-width: 535px;

        @media(max-width:1200px) {
            font-size: 36px
        }

        @media(max-width:991px) {
            font-size: 24px;
            margin-bottom: 32px;
        }
    }

    .social {
        gap: 2rem;
        margin-bottom: 1.75rem;
        align-items: flex-end;

        @media(max-width:991px) {
            gap: 1rem;
        }
        @media(max-width:767px) {
            gap: 8px;
        }

        a {
            img {
                width: 40px;
            }
        }
    }

    .find_us {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-inline-start: 146px;

        @media(max-width:991px) {
            margin-inline-start: 0px;
        }

        h5 {
            color: $white;
            font-weight: 500;
            font-size: 2.25rem;
            margin-bottom: 1.25rem;

            @media(max-width:991px) {
                font-size: 20px;
            }
        }
    }

    .footer_end {
        padding-bottom: 12px;
        font-size: 1.5rem;
        font-style: italic;
        font-weight: 800;
        color: $white;
        display: flex;
        align-items: center;
        justify-content: center;

        @media(max-width:767px) {
            font-size: 16px;
            .heart {
                max-width: 30px;
            }

            .co_logo {
                max-width: 100px;
            }
        }

    }
}


.accordion-item.active .accordion-content {
    max-height: 1000px;
}

.accordion-item.active .accordion-icon {
    transform: rotate(180deg);
}